<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="javascripts/socket.io.js" type="module"></script>
  <script src="javascripts/script.js" type="module"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <div >
    <span id="token">---Your Token---</span>
  </div>

  <div id="clock">
    <span id="seconds">20</span>
  </div>

</body>


</html>