<!DOCTYPE html>
<html>

<head>
  <title>
    TOKEN VIRTUAL
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="/javascripts/socket.io.js" type="module"></script>
</head>

<body class="">

  <h2 class="text-center pb-2">
    USER: <%= user %>
  </h2>
  <h2 class="text-center pb-2">
    TOKEN VIRTUAL:
  </h2>
  <div class=" token ">
    <h1 id="token">---Your Token---</h1>
  </div>

  <div class="" id="countdown">
    <div id="countdown-number">60</div>
    <svg>
      <circle r="18" cx="20" cy="20"></circle>
    </svg>
  </div>

</body>

<script>
  var user = '<%- user %>';
</script>
<script src="/javascripts/token.js" type="module"></script>

</html>